<md-dialog aria-label="Configuration Item" ng-controller="ConfigItemController" ng-cloak style="width: 100%" ng-init="init()" class="fullscreen-dialog">
	<form ng-submit="save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Configuration Item</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div class="md-dialog-content" flex>
	        <md-input-container class="md-block" flex-gt-xs>
	            <label>Configuration Name</label>
	            <input ng-model="item.name" type="text" ng-disabled="item.id" />
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-xs>
	            <label>Description</label>
	            <input ng-model="item.description" type="text" />
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-xs>
                <label>String Value</label>
                <input ng-model="item.strValue" type="text" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Integer Value</label>
                <input ng-model="item.value" type="number" />
            </md-input-container>
            <md-switch class="md-primary" md-no-ink aria-label="Cached" ng-model="item.autoLoad">
				Cached
			</md-switch>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>
        <md-button type="submit" style="margin-right:20px;"> Save </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>