<md-content style="height: 100%" ng-controller="ConfigItemsController" ng-init="load()" flex>
    <div layout="row" layout-align="space-between center">
        <md-subheader class="md-primary">Configuration Items</md-subheader>
        <div>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Add" ng-click="add(null, $event)">
                <i class="material-icons">add</i>
            </md-button>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Refresh" ng-click="load()">
                <i class="material-icons">refresh</i>
            </md-button>
        </div>
    </div>
    <md-list>
         <md-list-item ng-repeat="item in items" ng-click="add(item, $event)" flex>
             <p>{{item.name}}</p>
             <div class="lock-size" layout="row" layout-align="center center">
	             <md-fab-speed-dial md-open="true" md-direction="left">
	                 <md-fab-trigger></md-fab-trigger>
	                 <md-fab-actions>
	                     <md-button aria-label="Delete" class="md-fab md-mini" ng-click="deleteItem(item, $event)">
	                         <md-tooltip>Delete</md-tooltip>
	                         <i class="material-icons">delete_forever</i>
	                     </md-button>
	                     <md-button aria-label="Edit" class="md-fab md-mini" ng-click="add(item, $event)">
	                         <md-tooltip>Edit</md-tooltip>
	                         <i class="material-icons">mode_edit</i>
	                     </md-button>
	                 </md-fab-actions>
	             </md-fab-speed-dial>
	         </div>
         </md-list-item>
     </md-list>
</md-content>