<md-dialog aria-label="Email Status" ng-controller="StatusController" ng-cloak style="width: 100%" ng-init="init()" class="fullscreen-dialog">
	<form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Email Status</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div class="md-dialog-content" flex>
	         <md-list>
		         <md-list-item ng-repeat="(index,item) in items" ng-click="nothing()" flex>
		             <p>{{item.contact.name}} (Status: {{item.status}})</p>
		             <div class="lock-size" layout="row" layout-align="center center">
		                 <md-fab-speed-dial md-open="true" md-direction="left">
		                     <md-fab-trigger></md-fab-trigger>
		                     <md-fab-actions>
		                         <md-button aria-label="View" class="md-fab md-mini" ng-click="view(item, $event)">
		                             <md-tooltip>View Status</md-tooltip>
		                             <i class="material-icons">pageview</i>
		                         </md-button>
		                     </md-fab-actions>
		                 </md-fab-speed-dial>
		             </div>
		         </md-list-item>
		     </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>