<md-dialog aria-label="Email Template" ng-controller="TemplateController" ng-cloak style="width: 100%" ng-init="init()" class="fullscreen-dialog">
	<form ng-submit="save()" method="post">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Email Template</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div class="md-dialog-content" flex>
	        <md-input-container class="md-block" flex-gt-xs>
	            <label>Template Name</label>
	            <input ng-model="item.name" type="text" />
	        </md-input-container>
	        <md-switch class="md-primary" md-no-ink aria-label="Enabled" ng-model="item.enabled">
                Enabled
            </md-switch>
	        <div style="width: 100%; height: 100%;">
				<ng-quill-editor name="editor1"
					callback="editorCallback(editor, name)" ng-model="item.content"
					translations="translations" toolbar="true" toolbar-required="true"
					show-toolbar="true" link-tooltip="true" image-tooltip="true"
					toolbar-entries="font size bold list bullet italic underline strike align color background link image attachment"
					editor-required="true" error-class="input-error"
					fontsize-options="fontsizeOptions"
					fontfamily-options="fontfamilyOptions">
                </ng-quill-editor>
			</div>
	        <md-content class="md-block" flex-gt-xs ng-bind-html="item.tinymceHtml">
            </md-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>
        <md-button type="submit" style="margin-right:20px;"> Save </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>